.card-image-top {
  object-fit: scale-down;
  height: 380px;
  width: 100%;
}

.cartContainer {
  object-fit: contain;
  height: auto;
  width: 100%;
}
.cartImg {
  width: 100%;
  height: 163px;
}

.card-img {
  object-fit: contain;
}

#root {
  background-color: #6C5F5B;
}
html {
  background-color: #6C5F5B;
}

.navbar {
  background-color: #8593AE;
}

.navbar-brand {
  color: white !important;
}

.cart-card {
  background-color: white;
}

.my-cart-text {
  color: white;
}
