.card-image-top {
  object-fit: scale-down;
  height: 380px;
  width: 100%;
}

.cartContainer {
  object-fit: contain;
  height: auto;
  width: 100%;
}
.cartImg {
  width: 100%;
  height: 163px;
}

.card-img {
  object-fit: contain;
}

#root {
  background-color: #6C5F5B;
}
html {
  background-color: #6C5F5B;
}

.navbar {
  background-color: #8593AE;
}

.navbar-brand {
  color: white !important;
}

.cart-card {
  background-color: white;
}

.text-color {
  color: white;
}

.btn {
  background-color: #8593AE !important;
  border-color: #8593AE !important;
}

.modal {
  display:block;
}

.modal-header {
  color: white;
  background-color: #8593AE !important;
}

.modal-footer {
  background-color: #6C5F5B !important;
}

#front {
  margin-bottom: 15px;
}

#detailsCard {
  margin-top: 15px;
}

#back-to-catalog {
  cursor: pointer;
}

#add-to-cart-btn {
  cursor: pointer;
}

.home-card {
  cursor: pointer;
}

.home-card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#cart-icon {
  cursor: pointer;
}

#checkout-btn {
  cursor: pointer;
}
